body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    overflow: auto;
    overflow-x: hidden;

}

.header{
    position: sticky;
    top: 0;
}

.empty-space{
    height: 50px;
    width: 100%;
    background-color: #F7F7F7;
    padding-top: 15px;
}
.head-para{
    text-align: center;
    font-weight: 650;
    text-decoration: underline;
}

.container-header-1{
    width: 100%;
    height:80px;
    margin-bottom: 0;
    border: 1px solid lightgray;
    background-color: white;
    display: flex;
    justify-content: center;   
    align-items: center;
    gap: 30px;
    position: relative;
}

.main-logo{
    position: absolute;
    left: 90px;
    top: 25px;
    color: #FF385C;    
}

.container-header-1-1{
    width: 337px;
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 30px;
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-left: 520px;
    margin-right: 5px;
}

.container-header-1-1-para1{
    color: black;
    margin-left: 21px;
}
#hr1{
    color: gray;
    width: 20px;
    transform: rotate(90deg);
    margin-left: 5px;
}
.container-header-1-1-para2{
    color: black;
    margin-left: 0;
    margin-bottom: 20px;
}
#hr2{
    color: gray;
    width: 20px;
    transform: rotate(90deg);
    margin-left: 10px;
}

.add-guest{
    width: 25%;
    height: 30px;
    border: 0;
    margin-left: 0 ;
    padding-top: 2px;
}

.add-guest::placeholder{
    font-size: 16px;
}

.search-icon{
    margin-right: 5px;
    border-radius: 50px;
    background-color: #FF385C;
    color: white;
    padding: 6px;
}

.home-para{
    font-weight: 600;
    margin-left: 210px;
}

.earth-icon{
    margin-left: -15px;
    margin-right: -15px;
}
.container-header-1-2{
    width: 5%;
    height: 45px;
    border: 2px solid lightgray;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.three-lines{
    margin-left: 15px;
    color: rgb(42, 42, 42);

}
.profile-icon{
    width: 100%;
    height: 32px;
    margin-right: -2px;
    color: gray;
}


.main-container{
    max-width: 100%;   
    background-color: white;
    height: auto;
    border-bottom: 1px solid lightgray;
    padding-top: 1px;
}

.container-header-2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-left: 120px;
}

.features-container1{
    width: 80%;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: white;
    align-items: center;
    margin-left: -30px;
}

.arrow1{
    transform: rotate(-90deg);
    margin-right: -10px;
}

.arrow2{
    margin-left: -10px;
}

.arrow{
    color: rgb(0, 0, 0);
    border-radius: 50%;
    border: 1px solid black;
    padding: 8px;
    margin-bottom: 10px;
}

.ic1, .ic2, .ic3, .ic4, .ic5, .ic6, .ic7, .ic8, .ic9, .ic10, .ic11{
    height: 25px;
    align-items: center;
    text-align: center;

}

.i1, .i2, .i3, .i4, .i5, .i6, .i7, .i8, .i9, .i10, .i11{
    align-items: center;
}

.features-container1 p{
    font-size: 10px;
}

.features-container2{
    width: 30%;
    display: flex;
    align-items: center;
    background-color:white;
    justify-content: space-around;
    padding-bottom: 15px ;
}


.filter{
    display: flex;
    border: 1px solid lightgray;
    width: 15%;
    height: 35px;
    padding: 5px;
    margin-left: -220px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;

}

.controls{
    width: 15px;
    margin-left: 0;
}

.filter p{
    font-size: small;
    font-weight: 500;
    margin-right:10px;
}


.taxes{
    display: flex;
    justify-content: space-between;
    width: 200px;
    height: 35px;
    padding: 5px;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-left: -190px;
    margin-right: 100px;

}

.taxes p{
    font-size: small;
    font-weight: 500;
    margin-left: 5px;

}

.switch{
    width: 38px;
    color: gray;
}


/*<--------------body-------------------->*/

.body-div{
    width: 100%;
    height: auto;
}

.main-hotel-container{
    width: 90%;
    height: 400px;
    background-color: white;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 90px;
    align-items: center;
}

.hotel{
    width: 100%;
}

.hotel-image{
    width: 93%;
    height: 270px;
    border-radius: 15px;
}

.hotel-image-1{
    height: 270px;
}

.main-hotel-container p{
    padding: 1px;
    margin: 0;
}

.loc{
    font-weight: 600;
}

.distance{
    color: gray;
}

.date{
    color: gray;
}

.cost{
    font-weight: 600;
    font-size:  15px;
}

.explore{
    width: 100%;
    text-align: center;
}

.explore button{
    width: 140px;
    height: 50px;
    background-color: black;
    font-weight: 600;
    color: white;
    padding: 0;
    border-radius: 10px;
    border: 0;
}


/*footer*/


.Footer{
    width: 100%;
    background-color: #F7F7F7;
}

.footer{
    width: 100%;
    background-color: #F7F7F7;
    height: auto;
}

.footer1{
    width: 100%;
    margin-top: 40px;
}

.footer >p{
    text-align:left;
    margin-top: 50px;
    margin-left: 100px;
    line-height: 50px;
    font-weight: 600;
    font-size:x-large;
}

.list{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 40px;
}

.list li{
    list-style-type: none;
}
.service{
    width: auto;
    text-align: left;
    line-height: 0px;
}

.service h4{
    font-size: 15px;  
    font-weight: 600;
}

.service p{
    font-size: 15px;
    font-weight: 375;
}
.services{
    display:grid;
    width: 90%;
    grid-template-columns: auto auto auto auto auto auto;
    margin-left: 100px;
    justify-content: left;
    column-gap: 130px;
    row-gap: 5px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.another-services{
    display: flex;
    width: 90%;
    margin-left: 100px;
    justify-content: space-evenly;
    justify-content: left;
    gap: 200px;
    margin-top: 20px;
}
.another{
    line-height: 15 px;
}
.another p{
    font-size: 15px;
    font-weight: 375;
}

.another h4{
    font-size: 15px;  
    font-weight: 600;
}

.last-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.last-footer-1{
    display: flex;
    list-style-type: none;
    margin-left: 50px;
    gap: 10px;

}
.last-footer-2{
    display: flex;
    justify-content:space-around;
    gap: 20px;
    align-items: center;
    margin-right: 100px;
}


.hr3{
    width: 90%;
}